.wrapper { 
	width: 100%;
	margin: 0 auto; 
}
.header {
	height: 60px; 
	color: white;
	line-height: 60px;
	font-family: Comic Sans MS;
	font-size: 28px;
	background-color: #2FA4E7;
	padding-left: 20px;
	position: relative;
	/*系统margin以bottom为主*/
	margin-bottom:10px;
}
.header-navbar{
	/*border:1px solid #fff;*/
	position:absolute; 
	top:0px;
	left:280px;
}
.header-navbar a{
	font-size: 17px; 
	color:white;
	text-decoration: underline !important;
}
.logout-box{
	position: absolute;
	right: 20px;
	font-size: 17px;
}
.login-userinfo{
	position: absolute;
	right: 120px;
	font-size: 17px;	
}
.logo-font {
    font-family: STXingkai; 
    line-height: 60px; 
}		
.logout-font{
	color: white; 
}	 
.content { 
	overflow: hidden;   
	width: 1210px;
	margin: 0 auto; 
} 
.secondary {
	width: 24%;
	float: left;
	/*设置导航区最小高度*/
	min-height: 500px; 	
	border: 1px solid #DCDCDC;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.primary { 
	width: 75%; 
	float: right;  
	/*设置内容区最小高度*/
	min-height: 500px; 	 
	border: 1px solid #DCDCDC;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.footer {
	height: 55px; 
	line-height: 55px;
	text-align: center;
}
.content-functions{
	/*border:1px solid red;*/
	margin-left:30px;
	/*暂定某高度*/
	/*height:200px;*/
}		